@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

// general styling
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

// typography
a {
  text-decoration: none;
  color: black;
}
.heading {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  &.center {
    text-align: center;
  }
}

.error {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

// form styling
.form-wrapper {
  width: 540px;
  max-width: 100%;
  margin: 0 auto;
  .input-group {
    margin-bottom: 1rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    input {
      width: 100%;
      padding: 0.5rem 0rem;
      text-indent: 20px;
      font-size: 1.2rem;
    }
    button {
      display: block;
      padding: 1rem 0rem;
      width: 100%;
      font-size: 1.2rem;
      background-color: black;
      color: white;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
